.myBody{background-image:url(../img/backgroundfoto.jpeg);}


.logo{
    width: 100px;
}

.linkUB{
    text-decoration: none;
    font-size: 30px;
}

.imgUB{
    width: 700px;
    padding: 50px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.links{
    background-image: url(../img/backgroundfoto.jpeg);
    color: white;
    border: solid 2px black;
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
    text-decoration: none;
}
.cajalink{
    display: flex;
    justify-content: center;
    height: 62px;
    align-items: center;
}
.claselinks{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.myFooter{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.393);
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 550px;
}
.participantes{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.393);
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

